/* Add these to your global CSS */
html, body, #root {
  height: auto;
  min-height: 100vh;
}

body {
  overflow-y: auto;
}

        

/* Add this to your CSS */
html {
  overscroll-behavior-y: contain; /* Controls bounce effect on some browsers */
  background-color: black; /* Ensures any overscroll reveals black */
}

body {
  background-color: black; /* Ensures any overscroll reveals black */
}