.project-container-spc {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  padding: 1rem 2rem 9rem 2rem;
  color: var(--secondary-color);
  background-color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-family: var(--font-helvetica);
}

@media (max-width: 768px) {
  .project-container-spc {
    padding-top: 5rem;
  }
}


.project-content-spc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 3rem; */
}

.project-content-spc h3 {
  margin: 0;
  font-family: var(--font-standard) !important;
  font-size: var(--h3-size);
  margin-bottom: 0.5rem;
}


.photo-content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
    position: relative; 
    width: 100%;
    height: 100%;
    overflow: hidden;
  
    background-size: cover, cover;
    background-position: center, center;
    transition: opacity 1.5s ease-in-out;
    cursor: pointer;
}


.project-description-spc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-standard) !important;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  /* margin: 2rem 0; */
  text-align: justify;
  width: 70%;
  margin-top: 4rem;
}


@media (max-width: 768px) {
  .project-description-spc {
    width: 90%;
    font-size: 0.9rem;
  }
}

.project-description-spc p {
  margin: 0;
  font-family: var(--font-standard) !important;
}
