.press-container {
	background: black;
	padding: 5rem 5rem;
	display: flex;
	flex-direction: column;
	width: 100vw;
	z-index: 1;
	position: relative;
	margin: auto;
}

@media (max-width: 768px) {
	.press-container {
		padding: 5rem 10%;
	}
}

.press-items {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
	width: 100%;
	border: none;
	justify-content: flex-start;
	align-items: flex-start;
	font-family: var(--font-standard) !important;

}

.press-item {
	color: #fff;
	text-decoration: none;
	border: none;
	transition: all 0.3s;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	font-family: var(--font-standard) !important;
	text-align: left;
	gap: 0.6rem;
}


.press-container h1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	


	font-size: var(--h3-size);
    font-weight: 600;
    color: #fff;
    font-family: var(--font-standard);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
    margin: 0;
    margin-bottom: 6.8rem;

}

@media (max-width: 768px) {
	.press-container h1 {
		font-size: 3rem;
		line-height: 1;
		margin-bottom: 5rem;
	}
}

.press-item h3 {
	font-weight: 500;
	text-decoration: underline;
	margin: 0;
	font-size: 1.4rem;
	font-family: var(--font-standard) !important;

}

@media (max-width: 768px) {
	.press-item h3 {
		font-size: 1rem;
	}
}

.press-item p {
	margin: 0;
	opacity: 0.7;
	font-size: 1.1rem;
	text-align: left;
	font-family: var(--font-standard) !important;
	font-style: italic;

}

@media (max-width: 768px) {
	.press-item p {
		font-size: 0.9rem;
	}
}