/* Ensures the main container fills the viewport vertically */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap');

:root {
	--primary-color: #000000;
	--secondary-color: #ffffff;
	--max-width: 2048px;
	--font-garamond: "EB Garamond", serif;
	--font-inter: "Inter", sans-serif;
	--font-sen: "Sen", sans-serif;
	--font-arial: "Arial", sans-serif;
	--font-helvetica: "Helvetica", sans-serif;
	--font-standard: "Arial", sans-serif;
	--inactive-color: #ffffffa9;
	--active-color: #ffffffdd;
	--h3-size: 4.7rem;
	--p-size: 1.4rem;
}

button:focus,
a:focus {
  outline: none;
}

button, a {
	-webkit-tap-highlight-color: transparent;
  }

.page-container {
	width: 100vw;
	display: flex;
	position: relative;
	flex-direction: column;
	margin: 0;
	padding: 0 !important;
	/* overflow-y: auto; */
	overflow-x: hidden;
	z-index: 2000;
    height: auto !important;
    min-height: 100vh !important;
    overflow-y: visible !important;
}

.subtitle-container {
	display: flex;
	padding-top: 2rem;
	max-width: 80vw;
	justify-content: center;
	align-items: center;
}
.subtitle {
	font-size: 1rem;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	color: #ffffff;
	text-wrap: balance;
	text-align: center;
	opacity: 0.7;
}

.onerem-bar {
	display: flex;
	position: relative;
	height: 1rem;
	background-color: #000;
	width: 100vw;
}

.home-logo-container {
	display: none;
}

.view-reel-button {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	padding: 0.7rem 1.5rem;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	border: 1px solid white;
	cursor: pointer;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	z-index: 10;
}

.player {
	display: flex;
	position: absolute;
	width: 90vw;
	height: 80vh;
}

.back-arrow-container {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 10;
}
/* Hide scrollbar on WebKit browsers */
.page-container::-webkit-scrollbar {
	width: 0; /* Removes scrollbar width, effectively hiding it */
}

/* For Firefox */
.page-container {
	scrollbar-width: none; /* Hides scrollbar */
}

.page-container::-webkit-scrollbar-thumb {
	background-color: transparent; /* Ensures scrollbar thumb is transparent */
}

/* Each section takes full viewport height and stacks vertically */
.standard-container {
	position: relative;
	min-height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	z-index: 2000;
}

.music-container {
	min-height: calc(100vh);
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	/* overflow: auto; */

	background: radial-gradient(
			circle at 20% 30%,
			rgba(17, 255, 0, 0.4) 20%,
			transparent 60%
		),
		radial-gradient(
			circle at 80% 70%,
			rgba(166, 0, 255, 0.4) 20%,
			transparent 60%
		),
		radial-gradient(
			circle at 50% 50%,
			rgba(8, 0, 255, 0.6) 20%,
			transparent 60%
		);
	background-size: 200% 200%; /* Large size to allow movement */
	background-position: 20% 30%, 80% 70%, 50% 50%; /* Starting positions */
	animation: floatingColors 5s ease-in-out infinite alternate;
}
.trigger-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.trigger {
	display: flex;
	position: relative;
	width: 100%;
	height: 10%;
	top: 0;
}

/* Fullscreen video background for each container */
.video-container {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.video-background,
.video-background-mobile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100) !important;
	object-fit: cover;
	z-index: -1;
}

/* Overlay content in each section */
.overlay-content {
	z-index: 1;
	color: white;
	text-align: center;
	font-size: 2em;
}

.leftcontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: blue; */
	width: 50%;
	height: calc(100vh - 50px);
}

.rightcontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}

.rightsubcontainer1 {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: red; */
	width: 100%;
	height: 50%;
}

.rightsubcontainer2 {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: yellow; */
	width: 100%;
	height: 50%;
}

.arrow-container {
	display: none;
}

.contact-parent {
	height: 60%;
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

@media (max-width: 960px) {
	.page-container {
		/* min-height: 100%; */
		height: auto;
		width: 100vw;
		display: flex;
		position: relative;
		flex-direction: column;
		margin: 0;
		padding: 0 !important;
		/* overflow-x: hidden; */
	}

	.standard-container {
		/* min-height: 100%; */
		height: calc(var(--vh, 1vh) * 100);
		width: 100%;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		position: relative;
		/* overflow: auto; */
	}

	.music-container {
		/* min-height: 100%; */
		height: 100vh;
		width: 100%;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		/* overflow: auto; */
	}
	.home-logo-container {
		display: flex;
		flex-direction: column;
		position: absolute;
		justify-content: center;
		align-items: center;
		bottom: 0;
		padding-bottom: 9rem;
		z-index: 1000;
	}

	.logosvg {
		/* height: 3rem !important; */
		/* padding-top: 3rem; */
		width: 80vw;
		opacity: 0.7;
	}

	.video-container-mobile {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.back-arrow-container {
		display: flex;
		position: relative;
		flex-direction: column;
		height: 100vh;
		width: 100vw;
		justify-content: flex-start;
		align-items: flex-start;
		z-index: 1000;
	}

	.exclusion { 
		position: absolute;
		top: 0;
		left: 0;
		color: #ffffff;
		font-size: 10rem;
		font-weight: 100;
		mix-blend-mode: difference;

	}
	.arrow-button {
		background: transparent;
		border: none;
		color: white;
		font-size: 24px;
		cursor: pointer;
	}

	.back-arrow {
		font-size: 1.5rem;
		color: #ffffff;
		opacity: 0.7;
		/* transition: opacity 0.3s; */
		padding: 2rem;
		margin-bottom: 0.1rem;
		position: relative;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}


.video-text-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	inset: 0;
	margin-top: auto;
	height: fit-content;
	font-size: 10rem;
	font-weight: 100;
	z-index: 1000;
	letter-spacing: 1.5rem;
	color: #ffffff;
	line-height: 0.9;
	transform: translateY(-5.7rem);
	text-transform: uppercase;
}

.dark-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
	pointer-events: none;
	background: linear-gradient(to top, rgba(0, 0, 0, 0), #00000000 50%, rgba(0, 0, 0, 0.256) 90%, rgba(0, 0, 0, 0.256));
}

.dark-overlay-2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);
	background-color: rgba(0, 0, 0, 0.3);
	z-index: -1;
	pointer-events: none;
}


/* Add to src/components/styles/Standard.css or ProjectTypes.css */

.project-navigation {
	position: fixed;
	bottom: 30px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 50px;
	z-index: 100;
  }
  
  .project-nav-button {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  
  .project-nav-button:hover {
	background: rgba(0, 0, 0, 0.8);
	border-color: rgba(255, 255, 255, 0.6);
  }
  
  @media (max-width: 960px) {
	.project-navigation {
	  padding: 0 20px;
	  bottom: 20px;
	}
	
	.project-nav-button {
	  width: 40px;
	  height: 40px;
	  font-size: 18px;
	}
  }

  .mute-button {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	z-index: 7000 !important;
background: none;
	color: rgba(255, 255, 255, 0.401);
	border: none;
	border-radius: 50%;
	/* padding: 0.7rem; */
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-container {
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
  overflow: hidden;
}

.image-placeholder {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}